# Translate the following into Python algebraic or Boolean expressions and then evaluate them:

In [260]:
# The difference between Annie’s age (25) and Ellie’s (21)
25-21

4

In [261]:
# The total of  14.99,14.99, 27.95, and 19.83
14.99 + 27.95 + 19.83

62.769999999999996

In [262]:
# The area of a rectangle of length 20 and width 15
20 * 15

300

In [263]:
#  2 to the 10th power
2**10

1024

In [264]:
# The minimum of 3, 1, 8, -2, 5, -3, and 0
min(3, 1, 8, -2, 5, -3, 0)

-3

In [265]:
# 3 equals 4-2
3 == 4-2

False

In [266]:
#  The value of 17//5 is 3
17//5 == 3

True

In [267]:
#  The value of 17%5 is 3
17%5 ==3

False

In [268]:
# 284 is even
284%2 == 0

True

In [269]:
# 284 is even and 284 is divisible by 3
284%2 == 0 and 284%3 == 0

False

In [270]:
# 284 is even or 284 is divisible by 3
284%2 == 0 or 284%3 == 0

True

# Write Python expressions involving strings s1, s2, and s3 that correspond to:

In [271]:
s1 = 'good'
s2 = 'bad'
s3 = 'silly'

In [272]:
#  'll' appears in s3
'll' in s3

True

In [273]:
# the blank space does not appear in s1
' ' not in s1

True

In [274]:
#  the concatenation of s1, s2, and s3
s1 + s2 + s3

'goodbadsilly'

In [275]:
# the blank space appears in the concatenation of s1, s2, and s3
' ' in s1 + s2 + s3

False

In [276]:
#  the concatenation of 10 copies of s3
10 * s3 # s3 * 10

'sillysillysillysillysillysillysillysillysillysilly'

In [277]:
# the total number of characters in the concatenation of s1, s2, and s3
len(s1 + s2 + s3)

12

# String s is defined to be 'abcdefgh'. Write expressions using s and the indexing operator [] that return the following strings:

In [278]:
s = 'abcdefgh'

In [279]:
# a
s[0]

'a'

In [280]:
# c
s[2]

'c'

In [281]:
# h
s[-1]

'h'

In [282]:
# f
s[-3]

'f'

# List lst is a list of prices for a pair of boots at different online retailers

In [283]:
lst = [159.99, 160.00, 205.95, 128.83, 175.49]

In [284]:
# a. You found another retailer selling the boots for $160.00; add this price to list lst
lst.append(160.00)
print(lst)

[159.99, 160.0, 205.95, 128.83, 175.49, 160.0]

In [285]:
# b. Compute the number of retailers selling the boots for $160.00
lst.count(160.00)

2

In [286]:
# c. Find the minimum price in lst
min(lst)

128.83

In [287]:
# Using c), find the index of the minimum price in list lst
lst.index(min(lst))

3

In [288]:
# e. Using c) remove the minimum price from list lst
lst.remove(min(lst))

In [289]:
# f. Sort list lst in increasing order
lst.sort()
print(lst)

[159.99, 160.0, 160.0, 175.49, 205.95]

# Write a Python expression that assigns to variable c

In [290]:
# a. The length of the hypotenuse in a right triangle whose other two sides have lengths 3 and 4
import math
c = math.sqrt(3**2 + 4**2)
print(c)

5.0

In [291]:
# b. The value of the Boolean expression that evaluates whether the length of the above hypotenuse is 5
c = (math.sqrt(3**2 + 4**2) == 5)

In [292]:
# c. The area of a disk of radius 10
c = math.pi * 10**2

In [293]:
# d. The value of the Boolean expression that checks whether 
# a point with coordinates (5, 5) is inside a circle with center (0,0) and radius 7.
c = math.sqrt(5**2 + 5**2) < 7